body {
    margin: 0;
    padding: 0;
    background: black;
    height: 100vh;
}

.list {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item img {
    width: 120px;
    height: 200px;
}

/* Actual Code */
.list {
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.list .item {
    margin: 0.2em;
    transition: 0.5s ease;
    filter: brightness(0.1);
}

.list .item:hover {
    filter: brightness(1);
    transform: translateZ(100px);
}
